<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zyrenth.achievement"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk android:minSdkVersion="4" />

    <application
        android:icon="@drawable/fortune"
        android:label="@string/app_name" android:enabled="true" android:debuggable="true" android:description="@string/app_desc">
        <activity
            android:name=".AchievementActivity" >
        </activity>
        <receiver android:name="UnlockReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <activity
            android:label="@string/app_name"
            android:name="MainListView">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>
        <activity android:name="BuiltinListView"></activity>
    </application>

</manifest>