<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zyrenth.achievement"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fortune"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:description="@string/app_desc" >

        <receiver android:name="UnlockReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <activity
                android:label="@string/app_name"
                android:name="MainListView">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".BuiltinListView"
                android:label="Built-in Fortunes"
                />
        <activity
                android:name=".AchievementListActivity"
                android:label="Achievements"/>

        <provider
                android:name=".data.AchievementProvider"
                android:authorities="com.zyrenth.achievement.data.provider" >
        </provider>
    </application>

</manifest>
